.selling-plan{
  display: block;
}

.selling-plan__fieldset{
  margin: 20px 0;
}

.selling-plan__label{
  cursor: pointer;
}

.selling-plan__list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.selling-plan__select{
  display: none;
  margin: 20px 0 0;
  padding: 10px 5px;
  cursor: pointer;
}

.selling-plan__list-item:has(.selling-plan__radio:checked) .selling-plan__select{
  display: block;
}